html, body {
    margin: 0;
    background: #fff;
    height: 100%;
}


#mainCanvas {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

div {
    font: 28px Lato, Arial, Verdana;
}

/*
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

.Site-header,
.Site-footer {
    flex: none;
}

#container {
    display: block;
    overflow: auto;
}
*/

#contents {
    padding-bottom: 15px;
}
#contents p {
    text-align: justify;
    text-justify: inter-word;
    padding: 15px 15px 0 15px;
    margin: 0;
}

.narrow {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-width: 500px;
    max-width: 800px;
}

#title {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    background-color: #512483;
}

#footer {
    background-color: #000;
    width: 100%;
    padding: 10px 0 20px 0;
    margin-top: 30px;
}

#footer p {
    margin: 0;
    padding: 0;
}

#footer a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

#outerCard {
    position: relative;
    left: -50%;
    margin-top: 0;
    background-color: #512483;
    padding: 0 1.5em 1.5em 1.5em;
    cursor: pointer;
}

#card {
    overflow-y: auto;
    max-height: 70vh;
    background-color: #fff;
}

.wrapper {
    overflow: hidden; 
    position:fixed; 
    width: 100%; 
    height: 100%;
}

.center {
    position: absolute;
    left: 50%; 
    width: 90%; 
    max-width: 1000px; 
    min-width:500px;
}